html, p {
  background-color: black;
}

* {
  color: #fff;
}

body {
  background-color: rgba(120, 120, 120, 1);
}

ul, ul li, ul img, .small, .dropdown-menu {
  background-color: rgba(120, 120, 120, 1);
}

header {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header {
  width: 100%;
  padding-top: 10px;
}

h1, h2 {
  font-family: 'Galada', cursive;
  color: #217500;
  font-size: 3em;
}

.icon-menu {
  font-size: 1.5em;
}

.menu {
  display: block;
}

.dropdown {
  float: left;
  background-color: rgba(120, 120, 120, 1);
}

.dropdown-menu {
  width: 15%;
  background-color: rgba(120, 120, 120, 1);
}

ul {
  padding-bottom: 70px;
  display: none;
}

ul:hover {
  display: inline-block;
}

ul li {
  float: left;
  padding-right: 10px;
}

.pad {
  padding-left: 5px;
}

.pad img {
  width: 57px;
  height: 57px;
}

img {
  display: inline;
  height: 50px;
}

.small {
  height: 57px;
  width: 57px;
}

main {
  clear: both;
  background-color: black;
  font-family: 'Heebo-Regular', sans-serif;
  margin: 0 auto;
  font-size: 2em;
  padding-top: 30px;
}

.body {
  width: 960px;
  margin: 0 auto;
}

a:hover {
  background-color: #fff;
  border: solid, 2px;
  border-radius: 90px;
}

a img {
  border-radius: 90px;
}

button {
  border: none;
  clear: both;
  background-color: rgba(120, 120, 120, 1);
}

.template {
  display: none;
}

.project {
  background-color: black;
}

.tab-content {
  display: none;
}

section .article-body {
  width: 960px;
  margin: 0 auto;
}

@media screen and (min-width: 940px) {
  button {
    display: none;
  }

  .dropdown-menu {
    position: relative;
    font-size: 1.5em;
    display: inline;
    width: auto;
  }

  .dropdown {
    display: inline-block;
  }

  header {
    position: relative;
  }

  ul {
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
  }

  .main-nav {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 0;
    list-style: none;
    clear: both;
  }
  .main-nav ul li {
    display: inline-block;
  }

  ul, ul li, ul img, .small, .dropdown-menu {
    background-color: rgba(120, 120, 120, 1);
  }

  h1, h2 {
    font-family: 'Galada', cursive;
    color: #217500;
    font-size: 5em;
  }

  a:hover {
    background-color: #fff;
    border: solid, 2px;
    border-radius: 90px;
  }

  a img {
    border-radius: 90px;
  }

  .template {
    display: none;
  }

  section .article-body {
    text-align: center;
  }

  .tab-content {
    display: none;
  }

  section .article-body {
    width: 960px;
    margin: 0 auto;
  }


}
