html, p {
  background-color: black;
}

* {
  color: #fff;
}

@media screen and (min-width: 940px) {
  button {
    display: none;
  }

  .body {
    width: 960px;
    margin: 0 auto;
  }

  .dropdown-menu {
    position: relative;
    font-size: 1.5em;
    display: inline;
    width: auto;
  }

  .dropdown-menu>li>a {
    padding: 0;
  }

  .dropdown {
    display: inline-block;
  }

  header {
    position: relative;
  }

  ul {
    display: inline-block;
    text-align: center;
    padding-bottom: 10px;
  }

  .main-nav {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 0;
    list-style: none;
    clear: both;
  }
  .main-nav ul li {
    display: inline-block;
  }

  h1, h2 {
    font-family: 'Galada', cursive;
    color: #217500;
    font-size: 5em;
  }

  a:hover {
    background-color: #fff;
    border: solid, 2px;
    border-radius: 90px;
  }

  a img {
    border-radius: 90px;
  }

  .template {
    display: none;
  }

  section .article-body {
    text-align: center;
    padding-left: 0;
  }

  .tab-content {
    display: none;
  }

  section .article-body {
    width: 960px;
    margin: 0 auto;
  }

  html {font-size: 1em;}

  body {
    background-color: white;
    font-family: 'Libre Baskerville', serif;
    font-weight: 400;
    line-height: 1.45;
    color: #333;
  }

  p {margin-bottom: 1.3em;}

  h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
  }

  h1 {
    margin-top: 0;
    font-size: 3.157em;
  }

  h2 {font-size: 2.369em;}

  h3 {font-size: 1.777em;}

  h4 {font-size: 1.333em;}

  small, .font_small {font-size: 0.75em;}
}
